#blue{
    float:left;
    background-color:blue;
    width:50%
    height:100%;
    color:black;
}
#black{
    float:right;
    background-color:black;
    width:50%
    height:100%;
    color:white;
}


h1{

	font-size: 15px;
	font-family: Helvetica;
}

h2{
	font-size: 40px;
	font-family: Helvetica;
	text-align: center;

}



