body{
  background-color: black;
  color: white;
} 

main{
  margin: 0px auto;
  margin-top: 60px;
  text-align: center;
  color: white;
}

ul{
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  color: white;
}

a{
  color: grey;
  text-decoration:none;
}

a:hover {
    color: white;
}

footer{
  margin-top: 70px;
  font-family: helvetica;
  font-size: 10px;
  color: black;
  vertical-align: bottom;
}

.dropdown {
    position: relative;
    display: inline-block;
  background-color: #000000;
  color: #FFFFFF;
    padding: 3px 65px;
}

.dropdown-content {
    display: none;
    position: absolute;
  background-color: #000000;
  color: #FFFFFF;
    min-width: 150px;
    max-width: 150px;

}

.dropdown:hover .dropdown-content {
    display: block;

}


*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.flexible {
  position:absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

