body{
	font-size: 20px;
	color: white;
	background-size: 800px 800px;
  background-color: black;
    background-repeat: no-repeat;
	font-style: Arial;

}

li{
		border: solid 1px #000;
		margin: 1px;
		display: inline-block;
        width: 50px;	
}


.bar {
  height: 16em;
  padding-top: 2em;
  opacity: 0.8;
  background: black;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  margin-top: 5.0em;
}

ul{
  text-align: center;
  font-family: Arial;
  font-size: 13px;
}

